/* selector{
    property-names: values;
    property-names: values;
} */

.headerText{
    -fx-fill:tomato;
    -fx-font-size: 50px;
}

Button{
    -fx-background-color: green;
    -fx-text-fill: tomato;
}